.main{
    margin-top: 3rem;
    padding: 5rem;
    height: fit-content;

}
.main h1{
    text-align: center;
    margin-bottom: 5rem;
    color :white;
    font-family: var(--satoshi-regular-font);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:  20px 80px;
    place-items: center;
}
.sponser{
    display: flex;
    justify-content: center;
    align-items: center;

}

.sponser img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.sponser img:nth-last-child(1){
   text-align: center;

}

@media screen and (max-width:1200px) {
    .grid{
        grid-template-columns: 1fr 1fr;
        gap: 40px 20px;
    }
    .main{
        padding: 2rem;
    }
    .main h1{
        margin-bottom: 2rem;
    }
    
}

@media screen and (max-width:768px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
    .main{
        height: fit-content;

    }
    .main img{
        width: 90%;
    }
    
}